#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;
}
.thumbnail{

}
#menu {
    border-top: solid 6px #D8A7CA;
    background-color: #D8A7CA;
    color: #E5E9EC;
    height: 400px;
}

#user-btn{
    color: #E5E9EC; !important;
    background-color: #D8A7CA;
    margin-left: 30px;
    margin-right: 30px;
}

a {
    color: #E5E9EC; !important;
    text-decoration: none !important;
}

a:hover {
    color: #9B97B2 !important;
    text-decoration: underline !important;
}

#submit-btn{
    color: #73A6AD !important;
    background-color: #E5E9EC !important;
}

#menu a {
    background-color: #D8A7CA;
    display: block;
}
#menu a:hover {
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #D8A7CA;
}

#user{
    background-color: #D8A7CA;
}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}